:root {
/* ### Theme 1 */
/* --main-background: hsl(222, 26%, 31%);
--key-background:  */
/* #### Backgrounds */

--Very-dark-desaturated-blue-1: hsl(222, 26%, 31%); /*(main background)*/
--Very-dark-desaturated-blue-2: hsl(223, 31%, 20%); /*(toggle background, keypad background)*/
--Very-dark-desaturated-blue-3: hsl(224, 36%, 15%); /*(screen background)*/

/*----------------- #### Keys */

--Desaturated-dark-blue-1: hsl(225, 21%, 49%); /*(key background)*/
--Desaturated-dark-blue-2: hsl(224, 28%, 35%); /*(key shadow)*/

--Red: hsl(6, 63%, 50%); /*(key background, toggle)*/
--Dark-red: hsl(6, 70%, 34%); /*(key shadow)*/

--Light-grayish-orange: hsl(30, 25%, 89%); /*(key background)*/
--Grayish-orange: hsl(28, 16%, 65%); /*(key shadow)*/

/*----------------- #### Text */

--Very-dark-grayish-blue: hsl(221, 14%, 31%); 
--White: hsl(0, 0%, 100%);

/* ### Theme 2 */

/* #### Backgrounds */

--Light-gray: hsl(0, 0%, 90%); /*(main background)*/
--Grayish-red: hsl(0, 5%, 81%); /*(toggle background, keypad background)*/
--Very-light-gray: hsl(0, 0%, 93%); /*(screen background)*/

/*----------------- #### Keys */

--Dark-moderate-cyan: hsl(185, 42%, 37%); /*(key background)*/
--Very-dark-cyan: hsl(185, 58%, 25%); /*(key shadow)*/

--Orange: hsl(25, 98%, 40%); /*(key background, toggle)*/
--Dark-orange: hsl(25, 99%, 27%); /*(key shadow)*/

--Light-grayish-yellow: hsl(45, 7%, 89%); /*(key background)*/
--Dark-grayish-orange: hsl(35, 11%, 61%); /*(key shadow)*/

/*----------------- #### Text */

--Very-dark-grayish-yellow: hsl(60, 10%, 19%);
--White: hsl(0, 0%, 100%); /*(text))*/

/* ### Theme 3 */

/* #### Backgrounds */

--Very-dark-violet-1: hsl(268, 75%, 9%); /*(main background)*/
--Very-dark-violet-2: hsl(268, 71%, 12%); /*(toggle background, keypad background, screen background)*/

/*----------------- #### Keys */

--Dark-violet: hsl(281, 89%, 26%); /*(key background)*/
--Vivid-magenta: hsl(285, 91%, 52%); /*(key shadow)*/

--Pure-cyan: hsl(176, 100%, 44%); /*(key background, toggle)*/
--Soft-cyan: hsl(177, 92%, 70%); /*(key shadow)*/

--Very-dark-violet: hsl(268, 47%, 21%); /*(key background)*/
--Dark-magenta: hsl(290, 70%, 36%); /*(key shadow)*/

/*----------------- #### Text */

--Light-yellow: hsl(52, 100%, 62%);
--Very-dark-blue: hsl(198, 20%, 13%); 
--White: hsl(0, 0%, 100%); /*(text)*/

/* ## Typography */

/* ### Body Copy */

--Font-size: 32px /*(numbers)*/

/* ### Font */

--Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan);
--Weights: 700;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.body-active1{
    background-color: var(--Very-dark-desaturated-blue-1);
    transition: background-color .5s ease-in-out;
}
.body-active2{
    background-color: var(--Light-gray);
    transition: background-color .5s ease-in-out;

}
.body-active3{
    background-color: var(--Very-dark-violet-1);
    transition: background-color .5s ease-in-out;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 600px;
    min-width: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 150px
}
.header-active1{
    color: var(--White);
}
.header-active2{
    color: var(--Very-dark-blue);
}
.header-active3{
    color: var(--Light-yellow);
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
}
.theme {
    display: flex;
    align-items: end;
    margin-bottom: 5px;
}
.header-r{
    color: inherit;
    min-width: 170px;
    display: flex;
    justify-content: space-between
}
.numsBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    position: absolute;
    z-index: 3;
    bottom: -10px;
    height: 50px;
}
.numsBox span{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.radioBox{
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.circleSp-active1{
    background-color: var(--Very-dark-desaturated-blue-2);
    transition: background-color .5s ease-in-out;
}
.circleSp-active2{
    background-color: var(--Grayish-red);
    transition: background-color .5s ease-in-out;
}
.circleSp-active3{
    background-color: var(--Very-dark-violet-2);
    transition: background-color .5s ease-in-out;
}
.circleSp {
    width: 100%;
    height: 30px;
    position: relative;
    border-radius: 30px;
    padding: 5px;
}
.circle-active1{
    background-color: var(--Red);
    transition: background-color .5s ease-in-out;
}
.circle-active2{
    background-color: var(--Orange);
    transition: background-color .5s ease-in-out;
}
.circle-active3{
    background-color: var(--Pure-cyan);
    transition: background-color .5s ease-in-out;
}
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .5s;
}
.hiddenBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.screen-active1{
    background-color: var(--Very-dark-desaturated-blue-3);
    transition: background-color .5s ease-in-out;
    color: var(--White)
}
.screen-active2{
    background-color: var(--Very-light-gray);
    transition: background-color .5s ease-in-out;
    color: var(--Very-dark-blue);
}
.screen-active3{
    background-color: var(--Very-dark-violet-2);
    transition: background-color .5s ease-in-out;
    color: var(--Light-yellow)
}
.screen {
    font-size: 70px;
    width: 100%;
    height: 15%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
.buttons-active1{
    background-color: var(--Very-dark-desaturated-blue-2);
    transition: background-color .5s ease-in-out;
}
.buttons-active2{
    background-color: var(--Grayish-red);
    transition: background-color .5s ease-in-out;
}
.buttons-active3{
    background-color: var(--Very-dark-violet-2);
    transition: background-color .5s ease-in-out;
}
.buttons{
    width: 100%;
    height: 70%;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(5, 16.5%);
    grid-gap: 4%;
    direction: rtl;
}
.whiteButton-active1{
    background-color: var(--Light-grayish-orange);
    border-bottom: 4px solid var(--Grayish-orange);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    color: var(--Very-dark-desaturated-blue-1);
}
.whiteButton-active2{
    background-color: var(--Light-grayish-yellow);
    border-bottom: 4px solid var(--Dark-grayish-orange);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    color: var(--Very-dark-blue);
}
.whiteButton-active3{
    background-color: var(--Very-dark-violet);
    border-bottom: 4px solid var(--Dark-magenta);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    color: var(--Light-yellow);
}
.button{
    border-style: none;
    border-bottom-style: solid;
    border-radius: 10px;
    font-size: 32px;
    outline: none;
    cursor: pointer;
}
.whiteButton:active{
    background-color: var(--White);
    border-bottom-color: var(--White);
}
.button-0-active1{
    background-color: var(--Desaturated-dark-blue-1);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    border-bottom: 4px solid var(--Desaturated-dark-blue-2);
}
.button-0-active2{
    background-color: var(--Dark-moderate-cyan);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    border-bottom: 4px solid var(--Very-dark-cyan);
}
.button-0-active3{
    background-color: var(--Dark-violet);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
    border-bottom: 4px solid var(--Vivid-magenta);
}
.button-0 {
    color: var(--White);
}
.button-17-active1{
    background-color: var(--Desaturated-dark-blue-1);
    border-bottom: 4px solid var(--Desaturated-dark-blue-2);
    transition: background-color .5s ease-in-out;
    transition: border-bottom .5s ease-in-out;
}
.button-17-active2{
    background-color: var(--Dark-moderate-cyan);
    border-bottom: 4px solid var(--Very-dark-cyan);
    transition: border-bottom .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.button-17-active3{
    background-color: var(--Dark-violet);
    border-bottom: 4px solid var(--Vivid-magenta);
    transition: border-bottom .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.button-17 {
    grid-column: 3/5;
    color: var(--White);
}
.button-16-active1{
    background-color: var(--Red);
    color: var(--White);
    border-bottom: 4px solid var(--Dark-red);
    transition: border-bottom .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.button-16-active2{
    background-color: var(--Orange);
    color: var(--White);
    border-bottom: 4px solid var(--Dark-orange);
    transition: border-bottom .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.button-16-active3{
    background-color: var(--Pure-cyan);
    color: var(--Very-dark-blue);
    border-bottom: 4px solid var(--Soft-cyan);
    transition: border-bottom .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.button-16 {
    grid-column: 1/3;
}